<app-header></app-header>
<img src="/assets/images/burger-with-melted-cheese.jpg" alt="Test image" />
<img src="/assets/images/images (1).jpg" alt="Test image" />
<img src="/assets/images/images.jpg" alt="Test image" />
<img src="/assets/images/Sausage-and-Ricotta-Pizza-with-Castelvetrano-Olives-XL-RECIPE0422-74dd7f860abd4e40a5c3c283e3169cda.jpg" alt="Test image" />
<img src="/assets/images/téléchargement (1).jpg" alt="Test image" />
<img src="/assets/images/téléchargement (2).jpg" alt="Test image" />
<img src="/assets/images/téléchargement (3).jpg.jpg" alt="Test image" />
<img src="/assets/images/téléchargement (4).jpg" alt="Test image" />
<img src="/assets/images/téléchargement.jpg" alt="Test image" />

